{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/env",
          {
            "useBuiltIns": "usage",
            "corejs": { "version": "3.0" }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-regenerator"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "useBuiltIns": "usage",
            "corejs": { "version": "3.0" }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-regenerator"
      ]
    }
  }
}
